* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.route-enter-active, .route-leave-active {
  transition: opacity .2s;
}

.route-enter, .route-leave-active {
  opacity: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-weight: 700;
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

a {
  transition: all 0.3s;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

path, ellipse, circle, svg {
  transition: all 0.3s;
}

// :hover {
//   path, ellipse, circle {
//     // stroke: @color_yellow;
//     //fill: @color_yellow
//   }
// }


.btn {
  padding: 0;
  outline: none !important;
  cursor: pointer;
  box-shadow: none;

  &:focus {
    outline: none !important;
    box-shadow: none;
  }

  &:active {
    outline: none !important;
    box-shadow: none;
  }
}

.btn.btn-blue {
  line-height: 38px;
  border: 1px solid #003B81;
  padding: 0 26px;
  text-align: center;
  color: #fff;
  background: #003B81;
  border-radius: 8px;

  &:hover {
    color: #003B81;
    background: #fff;
  }
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
}

.btn {
  padding: 0;
  outline: none !important;
  background: transparent;
  border: none;
  cursor: pointer;
  box-shadow: none;

  &:focus {
    outline: none !important;
    box-shadow: none;
  }

  &:active {
    outline: none !important;
    box-shadow: none;
  }
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.4s;
}

.page-enter,
.page-leave {
  opacity: 0;
}


body {
  font-size: 0.875rem;
  background: #ffff;
}
.box-shadow{
  box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.24), 0px 3px 8px -1px rgba(50, 50, 71, 0.05);
  border-radius: 6px;
}

.blackAndWhiteInvert, .blackAndWhiteInvert img, .blackAndWhiteInvert embed, .blackAndWhiteInvert video {
  filter: grayscale(100%) invert(100%)
}

.blackAndWhite {
  filter: grayscale(100%);
}

.contrast {
  filter: contrast(50%);
}

#__nuxt{
  overflow: hidden;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.min-h-2 {
  min-height: 42px;
}

.all-title {
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 25px;
    text-align: right;
    color: #9FABB9;
    margin-top: 17px;
}

@media (max-width: 767px) {
  .main-title {
      font-size: 1.375rem;
    line-height: 20px;
    text-align: right;
    color: #9FABB9;
    margin-top: 17px;
  }

  .all-title {
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 25px;
      text-align: right;
      color: #9FABB9;
      margin-top: 17px;
  }
}
